*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:700px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    border:none;
    cursor:pointer;
    background:#2563eb;
    color:white;
    border-radius:5px;
}

ul{
    list-style:none;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f3f4f6;
    margin:10px 0;
    padding:12px;
    border-radius:8px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    margin-left:5px;
}

.complete-btn{
    background:#16a34a;
}

.edit-btn{
    background:#f59e0b;
}

.delete-btn{
    background:#dc2626;
}